.my-cart .card {
  border: none;
  border-radius: 1rem;
}
.my-cart .card .card-title {
  overflow: visible;
  display: block;
}
.my-cart .card {
    width: 100%;
    margin-left: -15px;
  }

  .my-cart img{
    width: 100%;
  }
@media screen and (min-width: 768px) {
  .my-cart .card {
    width: 70%;
    margin: 0px auto;
  }

  .my-cart hr {
    width: 70%;
    margin: 30px auto;
  }

  .my-cart img {
    height: 220px;
    /* width: 100%; */
  }
}
.my-cart .btn:hover {
  color: #fff;
}
