@import url('https://fonts.googleapis.com/css2?family=Golos+Text&family=Roboto+Serif:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Golos Text', sans-serif;
}
li{
  list-style: none;
}
.heading{
  color: #001645;
  font-size: 20px;
}
